AlignConsecutiveAssignments : Consecutive
AlignConsecutiveBitFields   : Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros      : Consecutive
AlwaysBreakAfterReturnType  : AllDefinitions
BasedOnStyle                : Microsoft
ColumnLimit                 : 80
JavaScriptQuotes            : Double
