AlignConsecutiveAssignments : Consecutive
AlignConsecutiveBitFields   : Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros      : Consecutive
BasedOnStyle                : Microsoft
ColumnLimit                 : 80
JavaScriptQuotes            : Double
